<!-- Servicios Section -->
<section id="servicios" class="servicios section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="titulo-servicios">
      <h3>Alta en Impuestos</h3>

      <p class="cta-btn d-sm-block" onclick="history.back()">
        Volver a todos los Servicios
      </p>
    </div>

    <div class="card mb-12">
      <div class="row g-0">
        <div class="col-md-4 mb-3">
          <img
            src="assets/img/impuestos.png"
            alt="Estudio DATA servicios"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Monotributo - Autónomos</h3>

            <p class="card-text">
              Si nos consultas, somos de los que prefieren delegar y dejar en
              manos de un profesional idoneo en la materia los temas que
              desconocemos.
            </p>

            <p>
              Si deseas sacarte de encima al ARCA y no queres vivir con miedo de
              lo que pueda llegar a pasar manejando las cosas por tu parte,
              pedinos un presupuesto para que nosostros nos de esa parte de tu
              negocio de la que no te queres preocupar ni ocupar.
            </p>

            <p>
              Si queres comenzar un negocio, emprendimiento o desarrollarte como
              profesional independiente, te recomendamos que lo hagas de la
              forma correcta. Inscribite en los impuestos de entrada para estar
              al día con el fisco y no tener dolores de cabeza más adelante.
            </p>

            <h5><b>¿Qué incluye este pack?</b></h5>
            <ul>
              <br />
              <li>Asistencia con la generación de tu clave fiscal.</li>
              <li>Alta de CUIT.</li>
              <li>
                Alta de impuestos nacionales, provinciales y municipales, en
                caso de corresponder.
              </li>
              <li>Alta de puntos de venta para poder facturar.</li>
              <li>Adhesión al Domicilio Fiscal Electrónico.</li>
              <li>Asistencia con la elección de la obra social.</li>
              <li>Solicitud de certificado mi pyme.</li>
              <li>Solicitud de beneficios impositivos.</li>
              <li>Confección de planes de pago.</li>
              <li>Asistencia en facturación mensual.</li>
            </ul>
            <br />
            <!--  <p>
              
              Tenemos Packs de abonos mensuales que se adaptan a cada tipo de
              contribuyente:
            </p> -->

            <div class="col-md-6 text-center">
              <a
                class="cta-btn d-sm-block"
                target="_blank"
                href="https://wa.me/541134992110?text=Enviado desde la WEB --> Tengo interés en Pack Impuestos"
              >
                Contratar Servicio
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->
</section>
