<!-- About Section -->
<section
  id="about"
  class="about section"
  alt="Estudio Contable Data Villa del Parque Capital Federal"
>
  <div class="container section-title" data-aos="fade-up">
    <h2>¿Quienes Somos?</h2>
    <h4>¡Tu éxito, nuestra Misión!</h4>
  </div>

  <div class="container">
    <div class="row gy-4 gx-5">
      <div
        class="col-lg-6 position-relative align-self-start"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <img
          src="assets/img/exito-empresarial.jpg"
          class="rounded-circle img-fija-quienes-somos"
          alt=""
        />
        <!--  <a
          href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
          class="glightbox pulsating-play-btn"
        ></a> -->
      </div>

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <!-- <h3>Tu éxito, nuestra Misión</h3> -->
        <br />
        <p>
          En <b class="texto-color">Estudio DATA</b> sabemos que manejar un
          negocio no es tarea fácil, por eso, nuestros contadores expertos, el
          <b>Dr. Putzolu Pedro Darío</b> y la <b>Dra. Cuiuli Tamara Salomé</b>,
          están acá para convertir tus dolores de cabeza financieros en
          historias de éxito reales. Ofrecemos un conjunto completo de servicios
          diseñados a tu medida:
        </p>

        <div>
          <h6>✔️ Contabilidad</h6>
          <h6>⁠✔️ Asesoramiento Fiscal</h6>
          <h6>⁠✔️ Estructuración Societaria</h6>
          <h6>✔️ Gestión Laboral</h6>
          <h6>✔️ Consultoría y Estrategia Financiera</h6>
          <!-- <p>
                Magni facilis facilis repellendus cum excepturi quaerat
                praesentium libre trade
              </p> -->
        </div>

        <br />
        <h6>¡Pensá en nosotros como tus Superhéroes Financieros Personales!</h6>
        <br />
        <p>
          Nuestro enfoque personalizado al cliente significa que nos dedicamos a
          comprender tus necesidades únicas, porque para nosotros, cada cliente
          es diferente.
        </p>

        <p>
          Ya seas un emprendedor o una Pyme, tenemos experiencia parea ayudarte
          a prosperar en el mercado competitivo de hoy.
        </p>

        <p>
          ¿Por qué conformarte con menos cuando podés tener un socio eficiente
          que se acople a tus necesidades?
        </p>

        <h6>
          Programá tu consulta hoy mismo haciendo click
          <a
            target="_blank"
            href="https://wa.me/541134992110?text=Enviado desde Pagina Web estudiodata.com.ar"
            >acá</a
          >
          y desbloqueá el potencial de tu negocio con nosotros, donde Tu éxito,
          es Nuestra Misión.
        </h6>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
