<!-- Portada Section -->
<section id="portada" class="portada section">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="welcome-text col-xl-8 col-lg-7 col-lg-7 col-md-8 col-sm-12"
        data-aos="fade-down"
        data-aos-delay="100"
      >
        <h2>
          Que los impuestos <b>NO</b> <br />
          te quiten el sueño
        </h2>

        <p>
          Pedí tu presupuesto
          <a
            target="_blank"
            href="https://wa.me/541134992110?text=Enviado desde Pagina Web estudiodata.com.ar"
            >acá</a
          >
          y dejalo en nuestras manos.
        </p>
      </div>

      <div class="welcome-image col-xl-4 col-lg-4 col-md-4 col-sm-12 d-flex">
        <img src="/assets/img/img-portada.jpg" alt="Dario Putzolu imagen" />
      </div>
    </div>
  </div>
</section>

<app-instagram></app-instagram>

<!-- contadores Section -->
<section id="contadores" class="contadores section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Conocé nuestro Equipo</h2>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member d-flex align-items-start">
          <div class="pic">
            <img
              src="assets/img/contadores/contadores-1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Darío Putzolu</h4>
            <span>Contador Matriculado CPCECABA TOMO 407 FOLIO 186 - UBA</span>

            <div class="social">
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""> <i class="bi bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member d-flex align-items-start">
          <div class="pic">
            <img
              src="assets/img/contadores/contadores-2.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Tamara Cuiuli</h4>
            <span>Contador Matriculado xxx</span>

            <div class="social">
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""> <i class="bi bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-servicios></app-servicios>

<section id="opiniones" class="opiniones section">
  <div class="container">
    <div class="row gy-4">
      <div
        class="elfsight-app-7e206065-9893-4963-b21a-7782aa6c9124"
        data-elfsight-app-lazy
      ></div>
    </div>
  </div>
</section>
