<!-- Servicios Section -->
<section id="servicios" class="servicios section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Nuestros Servicios</h2>
    <p>Te ayudamos en la gestión contable de tu negocio.</p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a
              class="nav-link active show"
              data-bs-toggle="tab"
              href="#servicios-tab-1"
              >Liquidación de Sueldos
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="tab"
              href="#certificaciones-contables"
              >Certificaciones contables
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="tab"
              href="#regularizar-situacion"
              >Regularizá tu situación</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#alta-impuestos"
              >Alta en Impuestos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#pack-abono-mensual"
              >Pack de Abono Mensual</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="tab"
              href="#recategorizacion-monotributo"
              >Recategorización de Monotributo</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="servicios-tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Liquidación de Sueldos</h3>
                <p>Altas y bajas de empleados.</p>
                <p>Asesoramiento con el convenio colectivo de trabajo.</p>
                <p>
                  Asesoramiento con la contratación de la ART y el seguro de
                  vida obligatorio.
                </p>
                <p>Liquidación y armado de los recibos de sueldo.</p>
                <p>Liquidación y presentación del F.931.</p>
                <p>Generación de VEPS.</p>
                <p>Boletas sindicales.</p>
                <p>Indemnizaciones laborales.</p>

                <div class="col-md-6 text-center">
                  <a
                    class="cta-btn d-sm-block"
                    target="_blank"
                    href="https://wa.me/541134992110?text=Enviado desde la WEB --> Tengo interés en Liquidación de Sueldos"
                  >
                    Contratar Servicio
                  </a>
                </div>
              </div>

              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="assets/img/liquidacion-sueldos.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="certificaciones-contables">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Certificación de Ingresos</h3>
                <p class="fst-normal">
                  La certificación de ingresos es un documento certificado por
                  un contador matriculado que demuestra la legitimidad frente a
                  una suma de dinero no frecuente. Por lo general, son las
                  entidades financieras quienes suelen pedir este certificado.
                </p>
                <h3>Certificación de Origen de Fondos.</h3>
                <p>
                  La certificación de origen de fondos es una declaración jurada
                  certificada por Contador Público donde se declara que los
                  fondos utilizados para realizar determinado gasto o consumo
                  son lícitos.
                </p>
                <p>
                  Por lo general, te la suelen pedir las entidades bancarias o
                  mismo cuando queres comprar un inmueble o un automotor que
                  supere cierta suma de dinero.
                </p>
                <div class="col-md-6 text-center">
                  <a
                    class="cta-btn d-sm-block"
                    target="_blank"
                    href="https://wa.me/541134992110?text=Enviado desde la WEB --> Tengo interés en Certificaciones contables"
                  >
                    Contratar Servicio
                  </a>
                  <div class="text-center">
                    <button type="submit">Make an Appointment</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="assets/img/certificaciones-contables.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="regularizar-situacion">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                <p class="fst-italic">
                  Eos voluptatibus quo. Odio similique illum id quidem non enim
                  fuga. Qui natus non sunt dicta dolor et. In asperiores velit
                  quaerat perferendis aut
                </p>
                <p>
                  Iure officiis odit rerum. Harum sequi eum illum corrupti culpa
                  veritatis quisquam. Neque necessitatibus illo rerum eum ut.
                  Commodi ipsam minima molestiae sed laboriosam a iste odio.
                  Earum odit nesciunt fugiat sit ullam. Soluta et harum
                  voluptatem optio quae
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="assets/img/servicios-3.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="alta-impuestos">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>
                  Fuga dolores inventore laboriosam ut est accusamus laboriosam
                  dolore
                </h3>
                <p class="fst-italic">
                  Totam aperiam accusamus. Repellat consequuntur iure voluptas
                  iure porro quis delectus
                </p>
                <p>
                  Eaque consequuntur consequuntur libero expedita in voluptas.
                  Nostrum ipsam necessitatibus aliquam fugiat debitis quis
                  velit. Eum ex maxime error in consequatur corporis atque.
                  Eligendi asperiores sed qui veritatis aperiam quia a laborum
                  inventore
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="assets/img/servicios-4.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="pack-abono-mensual">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                <p class="fst-italic">
                  Omnis blanditiis saepe eos autem qui sunt debitis porro quia.
                </p>
                <p>
                  Exercitationem nostrum omnis. Ut reiciendis repudiandae minus.
                  Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit
                  vero atque qui quibusdam amet. Occaecati sed est sint aut
                  vitae molestiae voluptate vel
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="assets/img/servicios-5.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Servicios Section -->
