<!-- Servicios Section -->
<section id="servicios" class="servicios section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Nuestros Servicios</h2>
    <h6>Te ayudamos en la gestión contable de tu negocio.</h6>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col-lg-6">
        <a routerLink="/alta-impuestos">
          <div class="card">
            <img
              src="assets/img/impuestos.png"
              class="card-img-top"
              alt="impuestos"
            />
            <div class="card-body">
              <h5 class="card-title">Alta en Impuestos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img
            src="assets/img/pack-altas.png"
            class="card-img-top"
            alt="Palm Springs Road"
          />
          <div class="card-body">
            <h5 class="card-title">Pack de Abono Mensual</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img
            src="assets/img/liquidacion-sueldos.png"
            class="card-img-top"
            alt="Estudio Data Estudio Data"
          />
          <div class="card-body">
            <h5 class="card-title">Liquidación de Sueldos</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img
            src="assets/img/certificaciones-contables.png"
            class="card-img-top"
            alt="Estudio Data"
          />
          <div class="card-body">
            <h5 class="card-title">Certificaciones contables</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img
            src="assets/img/monotributo.png"
            class="card-img-top"
            alt="Estudio Data"
          />
          <div class="card-body">
            <h5 class="card-title">Regularizá tu situación ARCA</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /Servicios Section -->
