<!-- Faq Section -->
<section id="faq" class="faq section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Estudio DATA - Te damos consejos financieros</h2>
    <h6>
      Si sos una persona que está por emprender un nuevo negocio o ya tienes
      experiencia iniciando organizaciones,
      <b
        >el cuidado de tus finanzas personales y empresariales es sumamente
        importante.</b
      >
    </h6>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
        <div class="faq-container">
          <div class="faq-item">
            <h3>Importancia de las buenas finanzas para emprendedores</h3>
            <div class="faq-content">
              <p>
                Las buenas prácticas financieras garantizan la viabilidad a
                largo plazo del negocio a emprender. Mantener una buena gestión
                de los recursos te permitirá resistir los desafíos económicos y
                adaptarte a los cambios del mercado. Además, si buscas un
                financiamiento para despegar tu emprendimiento, los
                inversionistas y socios comerciales buscan empresas con una
                gestión financiera sólida, por lo que tener prácticas
                transparentes y documentadas, aumentará la confianza en posibles
                inversionistas, facilitando la obtención de los recursos
                económicos para alcanzar tus objetivos. Las buenas finanzas
                ayudan a garantizar la liquidez suficiente para gastos
                operativos, de modo que mantengas una buena reputación con el
                mercado, impactando positivamente en la percepción general de la
                marca. Toma en cuenta que es necesario establecer metas
                financieras claras y medibles para mantener un crecimiento
                sostenible. Al implementar prácticas financieras sólidas, podrás
                monitorear el progreso y ajustar tus estrategias según veas
                necesario. Por eso, a continuación te compartimos una serie de
                consejos financieros que todos los emprendedores deben
                considerar para llevar tu negocio al siguiente nivel y verlo
                crecer.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>Conoce el entorno y mantente actualizado</h3>
            <div class="faq-content">
              <p>
                En el mundo empresarial y financiero, es necesario estar al
                tanto de todos aquellos factores que pueden afectar, directa e
                indirectamente, a tu empresa. Por lo que debes prestar atención
                a todos los cambios que se presenten y dar seguimiento de las
                tendencias. Por ejemplo, mantenerte actualizado en cuanto a
                temas legislativos y regulaciones, reformas que se den en el
                Sector financiero y programas de apoyo que te pueden servir. Así
                mismo, es importante informarte sobre el panorama global
                económico, analizándolo y creando estrategias que resulten a tu
                favor. También te servirá para conocer la situación económica y
                prevenir ante cualquier desafío que se presente en la economía
                de tu mercado.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>Establece un fondo de emergencia</h3>
            <div class="faq-content">
              <p>
                Anticípate ante cualquier calamidad, prepara un fondo de
                recursos de emergencia que esté disponible en caso de que tu
                empresa se enfrente a un periodo de “vacas flacas”. De tus
                ingresos, reserva un monto determinado que se convierta en ese
                capital exclusivo para situaciones fuera de tu control, como
                podría ser una emergencia sanitaria. Si bien, al momento de
                iniciar tu empresa, puedes sentir que todos tus ingresos se van
                para reponer la inversión o reinvertir en el negocio; pero, al
                poner en conjunto las estrategias financieras correctas, verás
                una solidificación en tu economía y un flujo que te permitirá
                crear este fondo de emergencia.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>Analiza tus gastos fijos y tus gastos variables</h3>
            <div class="faq-content">
              <p>
                Toma un tiempo para hacer un análisis de tus gastos fijos y
                variables mensuales, para tener una idea de cuánto dinero
                necesitas para cubrir las necesidades de la empresa. Además, te
                ayudará a identificar tus gastos innecesarios, pero ahondaremos
                un poco más en ellos en el siguiente punto. Idealmente, tus
                ingresos deben ser mayores a tus gastos, por lo tanto, conocer
                la situación de la empresa en este contexto, te permitirá
                planificar mejor y encontrar áreas de oportunidad para la
                reducción de costos.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>Crea un presupuesto de gastos</h3>
            <div class="faq-content">
              <p>
                Ahora bien, al momento de una administración financiera, es
                importante realizar un presupuesto de gastos para planificar
                cómo usarás el dinero. De esta forma, te obligas a analizar los
                gastos y encontrar aquellos que no tienen que ser cada mes o
                abrir conversación con tus proveedores para establecer mejores
                precios. Teniendo un presupuesto bien establecido, priorizas
                gastos y evitas fugas en tu capital. Dentro de tu presupuesto
                debes fijar tus metas, considerando un porcentaje para tu fondo
                de emergencia, y calcular egresos fijos, tomando en cuenta pagos
                de servicios, costos de insumos e, incluso, el pago de
                impuestos. Analiza detenidamente tu presupuesto y evita que los
                egresos sobrepasen tus ingresos, esto puede ocasionar un
                endeudamiento innecesario.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>Establece un ahorro mensual</h3>
            <div class="faq-content">
              <p>
                Muy ligado al presupuesto y al fondo de emergencia, tenemos el
                ahorro mensual. Siempre ten presente un porcentaje de ingresos
                que se dirija al ahorro, intenta mantener este independiente al
                fondo de emergencia. Establece muy bien qué cubrirás con el
                fondo de emergencia y a dónde se destinará el ahorro mensual,
                puede ser para reparación de maquinarias, inversión en programas
                tecnológicos para mejorar la eficiencia operativa, entre otros.
                Si durante el mes no fue necesario utilizar el monto, puedes
                considerar dejar que se acumule o reinvertirlo en tu empresa, de
                modo que mantengas el flujo de efectivo.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <h3>Analiza tu capacidad de endeudamiento</h3>
            <div class="faq-content">
              <p>
                No te dejes llevar por los créditos o préstamos y termines con
                una deuda que supere tus posibilidades de pago. Si necesitas
                pedir un préstamo, asegúrate de usarlo para reinvertir en la
                empresa, de modo que te pueda generar un rendimiento. Sin
                embargo, antes de solicitar cualquier crédito o préstamo,
                analiza y calcula tu capacidad de endeudamiento. Considera no
                tomar créditos que superen tu patrimonio total. Para calcular tu
                capacidad de endeudamiento, puedes sumar tus gastos fijos
                mensuales, restarlos de los ingresos totales mensuales y
                multiplicarlo por 35%.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <h3>Establece indicadores financieros</h3>
            <div class="faq-content">
              <p>
                Algunas veces, los emprendedores pierden de vista el
                establecimiento de métricas que reflejen los resultados de la
                empresa durante un periodo de tiempo. Pero es sumamente
                importante establecer indicadores financieros que permitan darle
                seguimiento al desempeño de tu negocio para poder analizarlo, de
                modo que puedas realizar ajustes según sea necesario. El
                objetivo de los indicadores es que puedas encontrar la mejor
                relación resigo-beneficio para la rentabilidad de tus acciones.
                Te permitirán analizar con base en liquidez, solvencia,
                eficiencia, endeudamiento, etc.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <h3>¿Qué es Margen de contribución?</h3>
            <div class="faq-content">
              <p>
                Podrás conocer la eficiencia de tu empresa para generar
                productos o servicios con base en costos variables. Te permitirá
                identificar los productos más rentables y el valor de venta
                ideal para generar rentabilidad. Para determinar el margen de
                contribución debes restar los ingresos, deducciones y costos
                directos, y multiplicar el resultado por 100.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <h3>¿Qué es Punto de equilibrio ?</h3>
            <div class="faq-content">
              <p>
                Te dejará saber cuánto necesitas vender para cubrir costos y
                gastos. Su fórmula consiste en dividir los gastos fijos entre el
                margen de contribución.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <h3>¿Qué es el ROI ?</h3>
            <div class="faq-content">
              <p>
                Conociendo el retorno de inversión (ROI) podrás identificar los
                ingresos financieros de la inversión y contrastarla con los
                costos. Para sacar el ROI debes restar el valor de la inversión
                de las ganancias, dividir el resultado por el valor de la
                inversión y multiplicarlo por 100.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <h3>¿Qué es la Liquidez actual ?</h3>
            <div class="faq-content">
              <p>
                Con la liquidez actual, podrás saber la capacidad de tu empresa
                para cumplir obligaciones a corto plazo. Para sacarlo debes
                dividir tus activos circulantes entre el pasivo circulante. Toma
                en cuenta que el primero es un activo que fácilmente puede
                convertirse en liquidez; mientras que el pasivo circulante es
                una deuda que debes saldar en menos de un año.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>

          <div class="faq-item">
            <h3>Apóyate de herramientas para tu gestión financiera</h3>
            <div class="faq-content">
              <p>
                Como emprendedor puedes creer que la implementación de
                herramientas tecnológicas que faciliten la gestión financiera de
                tu empresa no sea una necesidad. Sin embargo, considera que se
                trata de una inversión que mejorará la rentabilidad de tu
                emprendimiento, además de que te permite mantener una correcta y
                precisa organización de tus movimientos.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->
        </div>
      </div>
      <!-- End Faq Column-->
    </div>
  </div>
</section>
<!-- /Faq Section -->
