<header id="header" class="header sticky-top">
  <div class="branding d-flex align-items-center">
    <div
      class="container position-relative d-flex align-items-center justify-content-between"
    >
      <a class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/assets/img/logo_invertido.jpeg" alt="" />
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="principal">Home</a></li>
          <li><a routerLink="servicios">Servicios Profesionales</a></li>
          <li><a routerLink="quienes-somos">Quienes Somos</a></li>
          <li><a routerLink="donde-estamos">Donde Estamos</a></li>
          <li><a routerLink="recursos">Recursos y Tips</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn d-none d-sm-block" href="#appointment"
        >Acceso Clientes</a
      >
    </div>
  </div>
</header>

<a
  href="https://wa.me/541134992110?text=Enviado desde Pagina Web estudiodata.com.ar"
  target="”_blank”"
  class="whatsapp-btn"
>
  <i class="bi bi-whatsapp"></i>
</a>

<!-- <app-principal></app-principal> -->
<section class="content">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</section>
