<!-- Servicios Section -->
<section id="servicios" class="servicios section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="titulo-servicios">
      <h3>Liquidación de Sueldos</h3>

      <p class="cta-btn d-sm-block" onclick="history.back()">
        Volver a todos los Servicios
      </p>
    </div>

    <div class="card mb-12">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="assets/img/liquidacion-sueldos.png"
            alt="Estudio DATA servicios"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <ul>
              <br />
              <li>Altas y bajas de empleados.</li>
              <li>Asesoramiento con el convenio colectivo de trabajo.</li>
              <li>
                Asesoramiento con la contratación de la ART y el seguro de vida
                obligatorio.
              </li>
              <li>Liquidación y armado de los recibos de sueldo.</li>
              <li>Liquidación y presentación del F.931.</li>
              <li>Generación de VEPS.</li>
              <li>Boletas sindicales.</li>
              <li>Indemnizaciones laborales.</li>
            </ul>
            <br />
            <div class="col-md-6 text-center">
              <a
                class="cta-btn d-sm-block"
                target="_blank"
                href="https://wa.me/541134992110?text=Enviado desde la WEB --> Tengo interés en Liquidacion Sueldos"
              >
                Contratar Servicio
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->
</section>
