.card {
  border: 0px;
}
p {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.titulo-servicios {
  padding: 60px;
  background-color: var(--accent-color);
  color: white;
  margin: 0px 0px 40px 0px;
}

.cta-btn {
  cursor: pointer;
  text-decoration: underline;
}

.card-body {
  padding: 0px 20px 20px 20px;
  text-align: left;
}
li {
  font-size: 22px;
}
