<!-- Servicios Section -->
<section id="servicios" class="servicios section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="titulo-servicios">
      <h3>Certificaciones Contables</h3>

      <p class="cta-btn d-sm-block" onclick="history.back()">
        Volver a todos los Servicios
      </p>
    </div>

    <div class="card mb-12">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="assets/img/certificaciones-contables.png"
            alt="Estudio DATA servicios"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Certificación de Ingresos</h3>
            <br />

            <p class="card-text">
              La certificación de ingresos es un documento certificado por un
              contador matriculado que demuestra la legitimidad frente a una
              suma de dinero no frecuente. Por lo general, son las entidades
              financieras quienes suelen pedir este certificado.
            </p>
            <br />
            <h3 class="card-title">Certificación de Origen de Fondos.</h3>
            <br />

            <p>
              La certificación de origen de fondos es una declaración jurada
              certificada por Contador Público donde se declara que los fondos
              utilizados para realizar determinado gasto o consumo son lícitos.
            </p>

            <p>
              Por lo general, te la suelen pedir las entidades bancarias o mismo
              cuando queres comprar un inmueble o un automotor que supere cierta
              suma de dinero.
            </p>

            <br />
            <div class="col-md-6 text-center">
              <a
                class="cta-btn d-sm-block"
                target="_blank"
                href="https://wa.me/541134992110?text=Enviado desde la WEB --> Tengo interés en Certificaciones Contables"
              >
                Contratar Servicio
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->
</section>
