<!-- About Section -->
<section id="about" class="about section">
  <div class="container section-title" data-aos="fade-up">
    <h2>¿Donde Estamos?</h2>
  </div>

  <div class="container">
    <div style="text-align: center">
      <div>
        <i
          class="fa-solid fa-location-dot"
          alt="Estudio data contable direccion"
        ></i>
        <p>Altolaguirre 2740<br />Villa Urquiza, C.A.B.A.</p>
        <img
          src="assets/img/estudio-data-localization.png"
          class="img-thumbnail"
          alt="Mapa estudio data"
        />
      </div>
    </div>
    <div style="text-align: center">
      <br />
      <div>
        <i
          class="fa-solid fa-location-dot"
          alt="Estudio data contable direccion"
        ></i>
        <p>Santo Tome 2775<br />Villa Del Parque, C.A.B.A.</p>
        <img
          src="assets/img/estudio-data-localization-vdp.png"
          class="img-thumbnail"
          alt="Estudio Contable Data Villa del Parque Capital Federal"
        />
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
