<!-- Servicios Section -->
<section id="servicios" class="servicios section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="titulo-servicios">
      <h3>Situación ARCA</h3>

      <p class="cta-btn d-sm-block" onclick="history.back()">
        Volver a todos los Servicios
      </p>
    </div>

    <div class="card mb-12">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="assets/img/monotributo.png"
            alt="Estudio DATA servicios"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">
              ¿Sos monotributista y necesitas recategorizarte?
            </h3>
            <br />

            <h5>
              <b
                >Envío de informe de la situación del contribuyente vía mail con
                análisis de:
              </b>
            </h5>
            <ul>
              <br />
              <li>
                Compras/gastos en relación con los ingresos declarados por el
                contribuyente;
              </li>
              <li>
                Facturación proyectada de cara a la próxima recategorización;
              </li>
              <li>
                Saldos a favor con su correspondiente reafectación de saldos, en
                caso de poseer;
              </li>
              <li>
                Deuda vigente con su correspondiente emisión de VEP, en caso de
                poseer;
              </li>
              <li>Análisis de categoría vigente y proyectada.</li>
            </ul>

            <br />
            <div class="col-md-6 text-center">
              <a
                class="cta-btn d-sm-block"
                target="_blank"
                href="https://wa.me/541134992110?text=Enviado desde la WEB --> Tengo interés en Situacion ARCA"
              >
                Contratar Servicio
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->
</section>
